/* .container {
  background-size: cover;
  background-image: url('/src/Images/exam-paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customTextField {
  margin-bottom: 15px; 
}


.customInputLabel {
  color: rgb(0, 139, 93);
  padding-left: 150px; 
}

.buttonContainer {
  margin-top: 20px; 
} */
/* Styles for the login container */
/* Styles for the login container */
.loginContainer {
  max-width: 100px;
  margin: auto;
  padding: 20px;
  padding-top: 500px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  background-size: cover;
  background-image: url('/src/Images/exam-paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for input labels */
.loginInputLabel {
  font-size: 1rem;
  color: #070000;
  margin-bottom: 5px;
}

/* Styling for text fields */
.loginTextField {
  width: 100%;
  border-radius: 20px;
  box-shadow: #a30000;
}


.loginButton:hover {
  background-color: #45a049;
}

.GridBox{
  padding-left: 450px;
  
}
.loginButton{
padding-top: 200px;
}
